html 
    head 
        title=title
        link(rel="stylesheet", href="/css/style.css") 
        script(src='/js/app.js')
 
    body.fundo
        h1=mensagem
        button.positivo
            h3='SIM'
        button.negativo
            h3='NÃO'   


